@using FrangoFone.Domain
@model IEnumerable<EnderecoSet>

<div class="form-horizontal">
    <div style="overflow:auto; height:200px">
        <table class="table" id="enderecos">
            <tr id="header">
                <th>
                </th>
                <th>
                    @Html.DisplayName("Logradouro")
                </th>
                <th>
                    @Html.DisplayName("Numero")
                </th>
                <th>
                    @Html.DisplayName("Bairro")
                </th>
                <th>
                    @Html.DisplayName("Complemento")
                </th>
            </tr>
               @if(Model != null)
               {
                   foreach (var item in Model)
                   {
                       <tr>
                           <td><input id="Endereco" name="Endereco" type="radio" value="@item.Id"></td>
                           <td>@item.Logradouro</td>
                           <td>@item.Numero</td>
                           <td>@item.Bairro</td>
                           <td>@item.Complemento</td>
                       </tr>
                   }
               }
       </table>
    </div>
    <hr />
</div>
