
<div style="overflow:auto; height:300px">
    <table class="table" id="ItensPedido">
        <tr>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("Categoria")
            </th>
            <th>
                @Html.DisplayName("Descrição")
            </th>
            <th>
                @Html.DisplayName("Quantidade")
            </th>
            <th>
                @Html.DisplayName("Valor Total")
            </th>
        </tr>
    </table>
</div>
