@model FrangoFone.Domain.EnderecoSet

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>EnderecoSet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ClienteId, "Nome", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label(string.Concat(Model.ClienteSet.Nome, " ", Model.ClienteSet.Sobrenone) , htmlAttributes: new { @class = "control-label" })
                @Html.Hidden("ClienteId", Model.ClienteSet.Id)
                @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Numero, htmlAttributes: new { @class = "form-control", maxlength = "6"} )
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CEP, htmlAttributes: new { @class = "form-control", maxlength = "8" })
                <input type="button" id="buscar" value="Buscar" class="btn btn-default" />
                @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Municipio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Municipio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Municipio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $(function () {
        $("#Numero, #CEP").on("keyup keydown", function () {

            $("#Numero, #CEP").val(function (i, v) {

                if (/^[a-zA-Z0-9- ]*$/.test(v) == false) {
                    v = v.replace(v.substr(v.length - 1, 1), "");
                }

                if (!jQuery.isNumeric(v)) {
                    v = v.replace(v.substr(v.length - 1, 1), "");
                }

                return v;

            }).val();
        });

         $("#buscar").click(function () {

            var validacep = /^[0-9]{8}$/;

            var cep = $("#CEP").val()

            if (validacep.test(cep)) {

                $("#Logradouro").val("...");
                $("#Bairro").val("...");
                $("#Municipio").val("...");
                $("#Estado").val("...");
                $("#Complemento").val("...");

                $.getJSON('@Url.Action("ObterEndereco")', { cep: cep }, function (data) {

                    if (!("erro" in data)) {
                        $("#Logradouro").val(data.Logradouro);
                        $("#Bairro").val(data.Bairro);
                        $("#Municipio").val(data.Municipio);
                        $("#Estado").val(data.Estado);
                        $("#Complemento").val(data.Complemento);
                    }
                    else {

                        $("#Logradouro").val("");
                        $("#Bairro").val("");
                        $("#Municipio").val("");
                        $("#Estado").val("");
                        $("#Complemento").val();
                        $("span[data-valmsg-for='CEP']").text("CEP não encontrado.");
                    }

                });
            }
            else {

                $("#Logradouro").val("");
                $("#Bairro").val("");
                $("#Municipio").val("");
                $("#Estado").val("");
                $("#Complemento").val("");
                $("span[data-valmsg-for='CEP']").text("CEP inválido.");
            }

        });
    });
</script>